.nav {
  background-color: blue;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 1rem;

  div {
    display: flex;
    gap: 1rem;
    color: white;

    a {
      color: white;
    }
  }
}
